EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDs-x9Fe_m11y3uYKEKCSc0t2VCnTtBDbU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=spark-70b03.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=spark-70b03
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=spark-70b03.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=271339297035
EXPO_PUBLIC_FIREBASE_APP_ID=1:271339297035:web:cdb95d58b3e84a44272a0e
EXPO_PUBLIC_FIREBASE_IOS_BUNDLE_ID=com.sparknew.connect
EXPO_PUBLIC_FIREBASE_ANDROID_PACKAGE_NAME=com.sparknew.connect

EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=271339297035-q7oggbponrnmb8fakreca7nk8p33lg8q.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=271339297035-320oq6h9pcmdn5kk75k5fg8igo9ht0h0.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=271339297035-q7oggbponrnmb8fakreca7nk8p33lg8q.apps.googleusercontent.com

EXPO_PUBLIC_REVENUECAT_API_KEY=appl_ncfYcNBlFslQlMhPWGSaAfHHeaM
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=Sparknew Pro
EXPO_PUBLIC_REVENUECAT_OFFERING_ID=Spark pro offer
EXPO_PUBLIC_REVENUECAT_WEEKLY_PRODUCT_ID=sparkproweek
EXPO_PUBLIC_REVENUECAT_MONTHLY_PRODUCT_ID=sparkpromonth
EXPO_PUBLIC_REVENUECAT_LIFETIME_PRODUCT_ID=sparkprolifetime

EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=ca-app-pub-8263324816746737~5461920676
EXPO_PUBLIC_ADMOB_IOS_APP_ID=ca-app-pub-8263324816746737~3188934953
EXPO_PUBLIC_ADMOB_ANDROID_BANNER_ID=ca-app-pub-8263324816746737/1021936619
EXPO_PUBLIC_ADMOB_IOS_BANNER_ID=ca-app-pub-8263324816746737/9299047738
EXPO_PUBLIC_ADMOB_ANDROID_INTERSTITIAL_ID=ca-app-pub-8263324816746737/8708854948
EXPO_PUBLIC_ADMOB_IOS_INTERSTITIAL_ID=ca-app-pub-8263324816746737/4491619788


EXPO_PUBLIC_SUPPORT_EMAIL=sparkapp@gmail.com
EXPO_PUBLIC_PRIVACY_POLICY_URL=https://spark-new-legal.vercel.app/privacy
EXPO_PUBLIC_TERMS_URL=https://spark-new-legal.vercel.app/terms
EXPO_PUBLIC_COMMUNITY_GUIDELINES_URL=https://spark-new-legal.vercel.app/community-guidelines
EXPO_PUBLIC_SHOW_DEMO_LOGIN=false
EXPO_PUBLIC_SHOW_TEST_PROFILES=false

EXPO_PUBLIC_ADMOB_TEST_DEVICE_ID=
EXPO_PUBLIC_ADMOB_DEBUG_GEOGRAPHY=DISABLED
