EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyDs-x9Fe_m11y3uYKEKCSc0t2VCnTtBDbU
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=spark-70b03.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=spark-70b03
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=spark-70b03.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=271339297035
EXPO_PUBLIC_FIREBASE_APP_ID=1:271339297035:web:cdb95d58b3e84a44272a0e
EXPO_PUBLIC_FIREBASE_IOS_BUNDLE_ID=com.spark.cherryblossomconnect
EXPO_PUBLIC_FIREBASE_ANDROID_PACKAGE_NAME=com.spark.cherryblossomconnect

EXPO_PUBLIC_GOOGLE_EXPO_CLIENT_ID=271339297035-q7oggbponrnmb8fakreca7nk8p33lg8q.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=271339297035-dpvst0c6k6aj3voh0h2avn05lsneiivo.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=271339297035-q7oggbponrnmb8fakreca7nk8p33lg8q.apps.googleusercontent.com

EXPO_PUBLIC_REVENUECAT_API_KEY=test_ZXrasnBoneOhTMZGyJXoPEEacNC
EXPO_PUBLIC_REVENUECAT_ENTITLEMENT_ID=Sparknew Pro
EXPO_PUBLIC_REVENUECAT_WEEKLY_PRODUCT_ID=Sparkproweek
EXPO_PUBLIC_REVENUECAT_MONTHLY_PRODUCT_ID=Sparkpromonth
EXPO_PUBLIC_REVENUECAT_LIFETIME_PRODUCT_ID=sparkprolifetime

EXPO_PUBLIC_ADMOB_ANDROID_APP_ID=ca-app-pub-3940256099942544~3347511713
EXPO_PUBLIC_ADMOB_IOS_APP_ID=ca-app-pub-3940256099942544~1458002511
EXPO_PUBLIC_ADMOB_ANDROID_BANNER_ID=ca-app-pub-3940256099942544/6300978111
EXPO_PUBLIC_ADMOB_IOS_BANNER_ID=ca-app-pub-3940256099942544/2934735716
EXPO_PUBLIC_ADMOB_ANDROID_INTERSTITIAL_ID=ca-app-pub-3940256099942544/1033173712
EXPO_PUBLIC_ADMOB_IOS_INTERSTITIAL_ID=ca-app-pub-3940256099942544/4411468910
